<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.mapper.ReplyMapper">
	<select id="getListAll" resultType="com.jafa.model.ReplyVO">
		select * from reply_tbl;
	</select>

	<select id="read" resultType="com.jafa.model.ReplyVO">
		select * from reply_tbl where rno =
		#{rno}
	</select>

	<select id="getListWithPaging" resultType="com.jafa.model.ReplyVO">
		select * from reply_tbl where bno = #{bno}
		order by rno desc;
	</select>

	<insert id="insert">
		insert into reply_tbl(bno,reply,replyer)
		values(#{bno},#{reply},#{replyer})
	</insert>

	<delete id="delete">
		delete from reply_tbl where rno = #{rno}
	</delete>

	<update id="update">
		update reply_tbl
		set reply = #{reply},
		updateDate=
		now()
		where rno = #{rno}
	</update>
</mapper>